.user {
  display: flex;
  float: right;
  align-items: center;
}

.user-icon {
  width: 2.4vh;
  padding: 1vh;
  text-align: center;
  border-radius: 24vh;
  color: white;
  cursor: pointer;
  transition: scale 0.3s;
}

.user-icon:hover {
  scale: 1.09;
}

.user-menu {
  display: flex;
  gap: 1vh;
  margin-right: 1.3vh;
}

.user-menu > .user-menu-entry {
  cursor: pointer;
  width: 2.5vh;
  padding: 1vh;
  border-radius: 14vh;
  text-align: center;
  border: none;
  background-color: #e9e9e9;
  transition: background-color 0.3s;
}

.user-menu > .user-menu-entry:hover {
  background-color: #c7c7c7;
}
.kick-modal {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.kick-modal-content {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  position: absolute;
  left: 35%;
  font-size: 2vh;
  margin-top: 10%;
  width: 70vh;
  background-color: white;
  text-align: center;
  border-radius: 1vh;
}

.kick-modal-buttons {
  padding: 2vh;
}

.kick-modal-buttons-kick {
  font-size: 2vh;
  background-color: #e23232;
  border: none;
  color: white;
  border-radius: 0.3vh;
  padding: 1vh;
  width: 12vh;
  margin-right: 1vh;
  transition: background-color 0.3s, scale 0.3s;
}
.kick-modal-buttons-kick:hover {
  background-color: #b62828;
  scale: 1.03;
}

.kick-modal-content-user {
  color: red;
}

.kick-modal-buttons-cancel {
  border: none;
  font-size: 2vh;
  color: #e23232;
  border-radius: 0.3vh;
  background-color: white;
  border: 0.2vh solid #e23232;
  padding: 1vh;
  width: 12vh;
  margin-right: 1vh;
  transition: scale 0.3s;
}

.kick-modal-buttons-cancel:hover {
  scale: 1.03;
}

.kick {
  cursor: pointer;
  width: 2.5vh;
  padding: 1vh;
  border-radius: 14vh;
  text-align: center;
  border: none;
  background-color: #ff2727;
  transition: background-color 0.3s;
  color: white;
}

.kick:hover {
  background-color: #d32727;
}
