* {
  border: 1px solid;
}
.user-list {
  position: relative;
  margin-right: 0.9vh;
  float: right;
}

.user-list > div {
  display: flex;
  align-items: center;
}

.user-list-icon {
  border-radius: 20vh;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #df622c;
  width: 2.8vh;
  font-size: 2vh;
  padding: 1vh;
  margin-top: 0.8vh;
}

.user-list-icon:hover {
  scale: 1.03;
}
.test {
  float: right;
}

.user-list-menu {
  display: inline;
  border: 0.3vh solid;
  border-radius: 0.5vh;
  margin-right: 1vh;
  margin-top: 0.5vh;
  font-size: 2vh;
  padding: 1vh;
}
